#favorites {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdX5Q5ZDAG2cOMkIhLSlQIKg4pPaZe1rKdpg&usqp=CAU");
    border-left: 0%;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
    width: 100%;
    height:100%;
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
}