.container-fluild {
    background-image: url("https://wallpaper.dog/large/5438770.jpg");
    border-left: 0%;
    padding: 0% 2%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}