.container-fluild {
    background-image: url("https://png.pngtree.com/png-clipart/20200610/ourmid/pngtree-abstract-laser-frame-neon-bright-lens-flare-on-black-background-png-image_2221656.jpg");
    border-left: 0%;
    padding: 0% 2%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}