.container-fluild {
    border-left: 0%;
    padding: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel-caption h3 {
    color: darkslateblue;
    margin-left: 40vh;
}
.carousel-caption p{
    color: black;
    margin-left: 40vh;
}
.carousel-item img {
    height: 43vh;
}
.container .row img {
    width: 100%;
    height: auto;
}