body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  
  .about-section {
    padding:25px;
    text-align: center;
    background-color: rgb(21, 21, 49);
    color: white;
    box-shadow: 5px 5px 25px rgb(184, 16, 16);
    transition:transform 1s ease-out ;
  }
  
  h1{
    font-weight: bolder;
    font-size: 3em;
}

  h2{
      margin: 23px;
      color: blueviolet;
      text-align: center;
      font-weight: bolder;
      font-size: 3em;
  }
