.bookNow {
    /* padding: 30px; */
    bottom: 0;
    margin: 0%;
    /* margin-left: 20%; */
    text-align: center;
    /* background-color: grey; */
    font-weight: bold;
    /* color: #fff; */
    /* width: 100%; */
    padding:10px;
    position: relative;
    color: white;
}


.bg {
    padding-top: 0%;
    margin-top: 0%;
    /* background-color: #cccccc; */
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("https://www.pinkvilla.com/files/styles/amp_metadata_content_image/public/yeh-jawaani-hai-deewani-deepika-padukone-ranbir-kapoor_0.jpg")
}