.bookNow {
    margin:auto;
    text-align: center;
    font-weight: bold;
    padding:10px;
    position: relative;
    color: white;
}
.bookNow span{
    background-color: brown;
}

.bg {
    padding-top: 10%;
    margin-top: 0%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("https://www.pinkvilla.com/files/styles/amp_metadata_content_image/public/yeh-jawaani-hai-deewani-deepika-padukone-ranbir-kapoor_0.jpg")
}

.booknow h1{
    color: darkgreen;
}