
#nav{
    background-image: url("https://media.istockphoto.com/photos/dark-brick-wall-texture-of-black-stone-blocks-high-resolution-picture-id828201480?k=20&m=828201480&s=170667a&w=0&h=OlCGFiaXiHuc5xNDY2PYWr27imnYK_y3QEyKiWKG1K4=");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* padding-top: 0%; */
    
}

#nav a{
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}