#seat {
  background-color: #8581be;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 77vh;
    font-family: 'Lato', 'sans-serif';
  }
  .movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .container {
    perspective: 1000px;
  }
  .seat {
    background-color: #444451;
    height: 50px;
    width: 50px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .seat:hover{
    background-color:green;
  }
  .seat.selected {
    background-color: green;
    color: #fff;
  }
  .seat.occupied {
    background-color:#fff;
    color: black;
  }
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  .showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  .showcase li small {
    margin-left: 10px;
  }
  .row {
    display: flex;
  }

  .screen {
    background-color: #fff;
    color: black;
    height: 75px;
    width: 75%;
    margin: 20px auto;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
  }
  small{
    color: #fff;
  }